/*** === CORE SKELETON === ***/
.pb-calendar.fullscreen {
}
.pb-calendar.fullscreen .entry:hover {
}
.pb-calendar.fullscreen .table {
}
.pb-calendar.fullscreen table {
	width: 100%;
}
.pb-calendar.fullscreen table th {
}
.pb-calendar.fullscreen .pb-title {
	font-size: 26px;
	font-weight: 300;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.pb-calendar.fullscreen .calendar-nav {
	float: right;
}
.pb-calendar.fullscreen .calendar-nav a {
	color: #363636;
	font-size: 20px;
	padding: 7px 15px;
	display: inline-block;
}
.pb-calendar.fullscreen .calendar-nav a:hover {
	color: #62B6E4;
}
.pb-calendar.fullscreen .pb-nav {
}
.pb-calendar.fullscreen .pb-nav.prev {
}
.pb-calendar.fullscreen .pb-nav.next {
}
.pb-calendar.fullscreen table .day-name-row {
}
.pb-calendar.fullscreen table .day-name-row th {
	padding: 5px 0;
	font-size: 14px;
	font-weight: 300;
	border: 1px solid #DEDEDE;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-khtml-user-select: none; /* Konqueror HTML */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.pb-calendar.fullscreen table td.pb-time {
}
.pb-calendar.fullscreen table th,
.pb-calendar.fullscreen table .day-name-row th,
.pb-calendar.fullscreen table td {
	border-left: none;
}
.pb-calendar.fullscreen table .tools th {
	text-align: left;
}
.pb-calendar.fullscreen table .tools .btn-calendar {
	font-size: 14px;
	font-weight: bold;
	margin: 0 2px 5px 2px;
	border: 1px solid #DEDEDE;
}
.pb-calendar.fullscreen table .tools .btn-calendar.active {
	background-color: #F2F2F2;
}
.pb-calendar.fullscreen table th:last-child,
.pb-calendar.fullscreen table tr>td:last-child {
	border-right: none;
}
.pb-calendar.fullscreen table td:hover {
}
.pb-calendar.fullscreen td.selected {
	border-style: solid;
	border-color: rgba(0, 158, 255, 0.80);
	background-color: rgba(0, 158, 255, 0.40);
}
.pb-calendar.fullscreen table td span {
}
.pb-calendar.fullscreen table td span:not(.entry) {
}
/*** === /CORE SKELETON === ***/


/*** === MODIFIERS === ***/
.pb-calendar.fullscreen .pb-today {
	color: #FA7B0A;
}
.pb-calendar.fullscreen table td.pb-prev-month,
.pb-calendar.fullscreen table td.pb-next-month {
    opacity: 0.65;
    background-color: #F6F6F6;
}
.pb-calendar.fullscreen table td.pb-past span:not(.entry) {
}
.pb-calendar.fullscreen table td.pb-prev-month span:not(.entry),
.pb-calendar.fullscreen table td.pb-next-month span:not(.entry) {
}
/*** === /MODIFIERS === ***/

/*** === MONTH === ***/
.pb-calendar.fullscreen.month .entry {
	border: 0;
	color: #363636;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	background-color: #F6F7FB;
	border-left-width: 3px !important;
	border-left-style: solid !important;
	border-top: 1px solid #DEDEDE !important;
	border-right: 1px solid #DEDEDE !important;
	border-bottom: 1px solid #DEDEDE !important;
}
.pb-calendar.fullscreen a.pb-read-more {
}
.pb-calendar.fullscreen.month .pb-read-more-container {
}
.pb-calendar.fullscreen.month .pb-read-more-container .entry {
}
.pb-calendar.fullscreen.month .pb-resizer {
}
/*** === /MONTH === ***/

/*** === WEEK === ***/
.pb-calendar.fullscreen.week {
}
.pb-calendar.fullscreen.week table td {
	padding: 10px 0;
	text-align: center;
}
.pb-calendar.fullscreen.week .entry {
	border: 0;
	color: #363636;
	border-top: 4px solid;
	background-color: #F6F7FB;
}
.pb-calendar.fullscreen.week .pb-resizer {
	height: 5px;
	widows: 100%;
	background-color: #DEDEDE;
}
/*** === /WEEK === ***/

/*** === DAY === ***/
.pb-calendar.fullscreen.day {
}
.pb-calendar.fullscreen.day table td {
	padding: 10px 0;
	text-align: center;
}
.pb-calendar.fullscreen.day .entry {
	border: 0;
	color: #363636;
	border-top: 4px solid;
	background-color: #F6F7FB;
}
.pb-calendar.fullscreen.day .pb-resizer {
	height: 5px;
	widows: 100%;
	background-color: #DEDEDE;
}
/*** === /DAY === ***/

@media screen and (max-width: 1200px) {

	.pb-calendar.container {
	}

}